/* Autor: Marvin Wiechers*/
div {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 350px;
  border: solid rgba(0, 0, 0, 0.25) 2px;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: black;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  z-index: 5000;
  font-size: 1rem;
  font-weight: bold; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}

.fehler {
  background-color: rgba(248, 215, 218, 0.8); 
  border-color: rgba(245, 198, 203, 0.9); 
  color: #721c24;
  padding: 0.75rem 1.25rem;
  z-index: 5000;
}

.info {
  background-color: rgba(209, 236, 241, 0.8); 
  border-color: rgba(190, 229, 235, 0.9); 
  color: #0c5460;
  padding: 0.75rem 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  z-index: 5000;
}

.erfolg {
  background-color: rgba(212, 237, 218, 0.8); 
  border-color: rgba(195, 230, 203, 0.9); 
  color: #155724;
  padding: 0.75rem 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  z-index: 5000;
}
