/*Autor: Marvin Wiechers */

footer{
    background-color: var(--header-color);
    color: var(--text-color);
    text-align: center;
    width: 100%;

}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.footer-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 20px;
    text-align: center;
}

a{
    color: var(--text-color);
    text-decoration: none;
    padding: 2px;
}

a:hover{
    text-decoration: underline;
}

h3{
    position: 0;
    top: 0%;
    font-size: 20px;
    margin-bottom: 10px;
}

p{
    font-size: 14px;
    margin-bottom: 0px;
    

}