/* Autor: Prof. Dr. Norman Lahme-Hütig (FH Münster) */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  margin: 0;
  background-color: var(--leichtes-black);
  color: var(--text-color);
}

:root {
  --primary-color: #f3f6f9; /* Very light blue-gray */
  --secondary-color: #e0e7ef; /* Light blue-gray */
  --text-color: #2c3e50; /* Strong dark gray */
  --header-color: #A5B8CB; /* Muted blue */
  --button-hover-color: #b0bec5; /* Soft gray */
  --white: #fff; /* White */
  --black: #000; /* Black */
  --leichtes-black: white; /* Black */
  --p-textcolor: #666;
  --h-textcolor: #333;
}

.dark-mode {
  --primary-color: #1c2733; /* Very dark blue-gray */
  --secondary-color: #243447; /* Dark blue-gray */
  --text-color: #cfd8dc; /* Light gray */
  --header-color: #607d8b; /* Muted blue-gray */
  --button-hover-color: #546e7a; /* Medium dark blue-gray */
  --white: #000; /* Black */
  --black: #fff; /* White */
  --leichtes-black: #333333;
  --h-textcolor: #e0e7ef;
}

/*darkslategray, teal, cadetblue, palegoldenrod, beige */

