/* Autor: Prof. Dr. Norman Lahme-Hütig (FH Münster) */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  margin: 0;
}

:root {
  --primary-color: beige;
  --secondary-color: cadetblue;
  --text-color: #333;
  --header-color: #d3c4a5;
  --button-hover-color: #a8c0c0;
}

.dark-mode {
  --primary-color: darkslategray;
  --secondary-color: teal;
  --text-color: #dcdcdc;
  --button-hover-color: #406b6b;
  --header-color: #4b5c5b;
}

/*darkslategray, teal, cadetblue, palegoldenrod, beige */

