/* CSS für die Startseite */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
.main-nav {
    background-color: #333; /* Hintergrundfarbe der Navigationsleiste */
  }
  
  .main-nav ul {
    list-style-type: none; /* Listenpunkte entfernen */
    margin: 0;
    padding: 0;
    display: flex; /* Flexbox verwenden */
  }
  
  .main-nav li {
    margin-right: 20px; /* Abstand zwischen den Nav-Elementen */
  }
  
  .main-nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff; /* Textfarbe der Navigationslinks */
  }
  
  .main-nav a:hover {
    background-color: #555; /* Hintergrundfarbe bei Hover */
  }

  #myNavbar{
    position:absolute;
    width: 100%;
  }
  #myNavbar ul {
    text-align: center;
    float: none;
    width: 100%;
    transition: background-color 2s;
    padding-right: 1em;
    white-space: nowrap;
}

  .row{
    overflow: hidden;
    position: relative;
  }
  nav ul {
    padding: 0px;
    margin: 0px;
    overflow: initial;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.row>* {
    min-height: 1px;
    position: relative;
     float: left; 
}
#myNavbar ul li {
    display: inline-block;
    vertical-align: top;
}
nav ul li {
    list-style: outside none none;
    float: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.logo {
    top: 0px;
    left: 15%;
    position: relative;
    vertical-align: top;
}
#myNavbar ul li a {
    display: block;
    padding: 1em 1em;
    padding-top: 3em;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 0.08em;
    opacity: 0.6;
    transition: color 1s, font-size 2s, padding 2s, opacity 1s;
    position: relative;
}
#myNavbar a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em 1em;
    padding-top: 3em;
    font-size: 90%;
    letter-spacing: 0.08em;
    opacity: 0.6;
    transition: color 1s, font-size 2s, padding 2s, opacity 1s;
    position: relative;
}

#myNavbar ul li a:hover {
    color: #007bff;
    font-size: 100%;
    padding: 1em 1em;
    padding-top: 3em;
    opacity: 1;
}
