/* Hauptinhalt */
.main-content {
  max-width: 100%;
  padding: 80px;
  background-color: var(--leichtes-black);
  border-radius: 10px;
  border: solid 1px var(--p-textcolor);
}

.main-section {
  display: flex;
  flex-direction: column;
}

/* Hintergrund der Überschrift */
h1 {
  background-color: var(--secondary-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  color: var(--h-textcolor);
  margin-top: 0px;
}

/* Absatz */
p {
  color: var(--p-textcolor);
}

/* Links und Button */
a,
.link-button {
  color: var(--black); /* Textfarbe */
  background-color: var(--leichtes-black); /* Hintergrundfarbe */
  padding: 10px 20px;
  border-radius: 20px; /* Abgerundete Ecken */
  transition: background-color 0.3s ease;
}

a:hover,
.link-button:hover {
  background-color: var(--secondary-color);
}

/* Eingabefelder */
.feld {
  border-radius: 20px; /* Abgerundete Ecken */
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  flex: 1; /* Flexibles Wachstum */
  font-size: 16px;
}

.feld:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Suchleiste und Suche-Button */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Food-Liste */
.food-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Gesamter Kalorienbedarf */
.total-calories {
  color: var(--p-textcolor);
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: 1px solid var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-calories p {
  margin: 5px 0;
}

.total-calories button {
  color: var(--black);
  background-color: #007BFF;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 10px;
}

.link-button {
  background-color: #007BFF;
  color: white;
  box-shadow: none;
  border: none;
}

.link-button:hover {
  background-color: #0056b3;
}

.total-calories button:hover {
  background-color: #0056b3;
}

.plus-button:hover {
  background-color: #0056b3;
}

/* Plus-Button für neue Food-Card */
.plus-button {
  cursor: pointer;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007BFF;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 2px;
  margin-left: 10px;
}

/* Modal Overlay */
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background: var(--header-color);
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Close Button */
.close-button {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: red;
}

/* Form Styles */
.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input Fields */
.modal-content form input[type="text"],
.modal-content form textarea,
.modal-content form input[type="number"],
.modal-content form button[type="submit"] {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

/* Description Field */
.modal-content form textarea {
  height: 100px;
  resize: none;
}

/* Submit Button */
.modal-content form button[type="submit"] {
  background-color: var(--secondary-color);
  color: var(--p-textcolor);
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.modal-content form button[type="submit"]:hover {
  background-color: var(--button-hover-color);
}

/* Form Labels */
.modal-content form label {
  font-weight: bold;
  margin-bottom: 5px;
  align-self: flex-start;
}

/* Anpassungen für verschiedene Bildschirmgrößen */
@media (max-width: 500px) {
  .main-content {
    max-width: 95%;
    font-size: 16px; /* Kleinere Schriftgröße */
    padding: 20px; /* Weniger Padding */
  }

  .feld {
    font-size: 14px; /* Kleinere Schriftgröße für Eingabefelder */
    padding: 8px; /* Weniger Padding für Eingabefelder */
  }

  .total-calories {
    padding: 8px; /* Weniger Padding */
    font-size: 14px; /* Kleinere Schriftgröße */
  }

  .total-calories button {
    padding: 8px 16px; /* Weniger Padding */
    font-size: 14px; /* Kleinere Schriftgröße */
  }

  .plus-button {
    width: 40px; /* Kleinere Größe */
    height: 40px; /* Kleinere Größe */
  }
}

@media (max-width: 650px) {
  .modal-content {
    width: 90%; /* Mehr Platz für das Modal */
  }

  .feld {
    font-size: 15px; /* Etwas kleinere Schriftgröße */
    padding: 9px; /* Weniger Padding */
  }

  .total-calories {
    padding: 9px; /* Weniger Padding */
    font-size: 15px; /* Etwas kleinere Schriftgröße */
  }

  .total-calories button {
    padding: 9px 18px; /* Weniger Padding */
    font-size: 15px; /* Etwas kleinere Schriftgröße */
  }

  .plus-button {
    width: 45px; /* Etwas kleinere Größe */
    height: 45px; /* Etwas kleinere Größe */
  }
}

@media (max-width: 1060px) {
  .main-content {
    padding: 40px; /* Weniger Padding */
    font-size: 18px; /* Kleinere Schriftgröße */
  }

  .feld {
    font-size: 15px; /* Etwas kleinere Schriftgröße */
    padding: 9px; /* Weniger Padding */
  }

  .total-calories {
    padding: 9px; /* Weniger Padding */
    font-size: 15px; /* Etwas kleinere Schriftgröße */
  }

  .total-calories button {
    padding: 9px 18px; /* Weniger Padding */
    font-size: 15px; /* Etwas kleinere Schriftgröße */
  }

  .plus-button {
    width: 45px; /* Etwas kleinere Größe */
    height: 45px; /* Etwas kleinere Größe */
  }
}
