/* Autor: Marvin Wiechers */

h1 {
  color: var(--h-textcolor);
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color:var(--p-textcolor);
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-content {
  max-width: 80%; 
  margin: 0 auto; 
  padding: 0px;
  background-color: var(--leichtes-black);
}

.two-column-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 10px;
}

#first-row {
  margin-top: 5px;
}

.two-column-row-content {
  flex: 1;
  padding: 15px;
  text-align: justify;
}

.link-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.link-button:hover {
  background-color: #0056b3;
}

#trainings {
  transform: translate(200%, 0%);
}

.image-area {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.image-area img {
  max-width: 60%; 
  height: auto;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  position: absolute;
  transform: translate(0%, -50%);
  display: block;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.image-area-mobile {
  display: none;
}

.mid-text {
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 35px;
}

.mid-section {
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  max-width: 1000%;
}

@media (max-width: 1060px) {
  .main-content {
      padding: 0px;
  }

  #first-row {
      margin-top: 0px;
  }

  .image-area {
      display: none;
  }

  .image-area-mobile {
      display: block;
      text-align: center; 
  }

  .image-area-mobile img {
      max-width: 50%;
      height: auto;
      border-radius: 50%; 
      clip-path: circle(50% at 50% 50%);
      margin: 20px 0;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }

  .link-button {
      display: block;
      margin: 20px auto;
  }
}
@media (max-width: 930px) {
  .two-column-row {
      flex-direction: column;
  }
}

@media(max-width:500px){
  .main-content {
      max-width: 95%;
  }
}

@media (min-width: 1700px) {
  .image-area img,
  .image-area-mobile img {
    max-width: 400px;
    height: auto;
    box-shadow: 0 4px rgba(0,0,0,0,3);
  }
}