/* Autor: Marvin Wiechers */

.search-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.search-box, .difficulty-filter {
  padding: 12px 20px;
  font-size: 1.1rem;
  border-radius: 25px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  outline: none;
  width: 40%;
  transition: border-color 0.3s ease;
}

.search-box:focus, .difficulty-filter:focus {
  border-color: #0056b3;
}

.difficulty-filter {
  cursor: pointer;
}

.exercises-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 20px;
}

.exercise-container-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: transform 0.3s ease-in-out;
  background-color: var(--header-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  position: relative;
}

.exercise {
  display: flex;
}

.exercise-info {
  display: flex;
  flex-direction: column;
}

.exercise-container-container:hover {
  transform: scale(1.05);
}

.exercise img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.exercise-content {
  margin-top: 20px;
  flex-grow: 1;
}

.exercise-content h3 {
  color: #333;
}

.exercise-content h4 {
  color: #333;
}

.exercise-content p {
  margin: 4px 0;
  color: #666;
  font-size: 0.9rem;
}

.exercise-details {
  flex-grow: 1;
  padding-left: 20px;
  padding-top: 20px;
}

.exercise-description {
  margin-top: 10px;
}

.exercise-description p {
  margin: 4px 0;
  color: var(--text-color);
  font-size: 0.9rem;
  flex-grow: 1;
  line-height: 1.2;
}

.exercise-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.exercise-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
  outline: none; 
}

.exercise-buttons .delete-exercise svg {
  fill: red; 
}

.exercise-buttons .edit-exercise svg {
  fill: blue; 
}
.exercise-container-container:hover .exercise-buttons button {
  display: inline-flex; 
}

.exercise-buttons button:hover {
  transform: scale(1.1);
}


.modal {
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--header-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 500px;
  position: relative;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form input[type="text"],
.modal-content form input[type="number"],
.modal-content form select,
.modal-content form textarea {
  margin-bottom: 10px;
  height: 40px;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
}

.modal-content form textarea {
  height: 80px;
  padding: 10px;
  line-height: 1.3;
}

.modal-content form button {
  align-self: center;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: #f00;
}

@media (max-width: 1060px) {
  .exercises-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .main-content {
    padding: 0px;
  }
}

@media (max-width: 600px) {
  .search-box-container {
    flex-direction: column;
    gap: 10px;
  }

  .search-box, .difficulty-filter {
    width: 75%;
  }

  .exercise {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 650px) {
  .modal-content {
    width: 75%;
  }
}

  .exercise-container-container countdown-widget {
    display: none;
  }

  .exercise-container-container:hover countdown-widget {
    display: block;
  }