:host {
  display: block;
  font-family: 'Roboto', Arial, sans-serif; /* Updated font */
  line-height: 1.6;
  color: var(--p-textcolor);
  box-sizing: border-box;
  padding: 120px auto;
}

.StartText {
  text-align: center;
  padding: 20px;
  margin: 40px auto; /* Reduced margin */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Softer shadow */
  background-color: var(--leichtes-black);
  border-radius: 12px; /* Increased border-radius */
  border: solid 1px var(--p-textcolor);
  max-width: 800px;
}

.tracker-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px; /* Increased border-radius */
  max-width: 800px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  
}

p {
  font-size: 16px;
  line-height: 1.7; /* Slightly increased line-height */
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--leichtes-black);
  border-radius: 12px; /* Increased border-radius */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Softer shadow */
  max-width: 800px;
  margin: 40px auto;
  padding: 10px auto;
}

li {
  list-style-type: none;
  font-size: 16px;
  line-height: 1.7; /* Slightly increased line-height */
  padding: 5px;
  width: 100%;
  text-align: left;
}

.Erklärung {
  font-size: 16px;
  line-height: 1.7; /* Slightly increased line-height */
  margin: 40px auto; /* Increased padding */
  width: 100%;
  background-color: var(--leichtes-black);
  border-radius: 12px; /* Increased border-radius */
  border: solid 1px var(--p-textcolor);
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Softer shadow */
}
  

ul {
  padding: 10px;
  margin: 10px;
}

.two-column-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.two-column-row-content, .image-area {
  flex: 1;
  padding: 10px;
}

.image-area img {
  max-width: 100%;
  height: auto;
}

.mid-section {
  text-align: center;
  padding: 20px;
}

.link-button {
  margin-top: 20px;
}

.link-button a {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link-button a:hover {
  background-color: var(--button-hover-color);
}

.hidden {
  display: none;
}

h1 {
  color: var(--h-textcolor);
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 10px; /* Increased padding */
  align-self: center;
  font-size: 30px;
  text-align: center;
  border: solid 1px var(--text-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Softer shadow */
}

@media (max-width: 1060px) {
  .main-content {
      padding: 0px;
  }

  #first-row {
      margin-top: 0px;
  }

  .image-area {
      display: none;
  }

  .image-area-mobile {
      display: block;
      text-align: center; 
  }

  .image-area-mobile img {
      max-width: 50%;
      height: auto;
      border-radius: 50%;
      clip-path: circle(50% at 50% 50%);
      margin: 20px 0; 
  }

  .link-button {
      display: block;
      margin: 20px auto; 
  }
}
@media(max-width:500px){
  .main-content {
      max-width: 95%;
      font-size: 20px;
  }
}
@media(max-width:650px){
  .modal-content {
      width: 75%;
  }
}